h2{
    border: 1px solid;
    text-align: center;
    width: 600px;
}
h3{
    border: 1px solid;
    text-align: center;
    width: 600px;
}
ul{
    border: 1px solid;
    width: 600px;
    margin: 1px;
    padding: 2px;
    list-style: none;
}
li {
    list-style: none;
    margin: 5px;
    padding: 5px;

}
.payslip_block {
    border: 2px solid;
    width: 600px;

}
.payslip_Title {
    text-align: center;
    color: rgb(1, 81, 40);
    font-size: large;

}
.container {
    border: 2px solid black;
}
